body {
  background-color: hsl(0, 15%, 57%);
  color: black;
}
.eachTopicContainer {
  width: fit-content;
  height: 200px;
  display: flex;
}
.interestContainer {
  padding: 18px;
  border-radius: 12px;
  background-color: rgb(168, 168, 168);
  gap: 12px;
  display: flex;
  height: fit-content;
  padding-bottom: 28px;
  flex-direction: column;
}
.graphBox {
  display: flex;
  gap: 12px;
}
.ratingBarWrapper {
  gap: 4px;
  width: 50px;
  height: 200px;
  background-color: rgb(139, 139, 139);
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
}
.ratingBarFill {
  height: 100%;
  width: 100%;
  background-color: rgb(151, 133, 1);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  z-index: 0;
}
.barAndText {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ratingText {
  font-size: 10px;
  bottom: -20px;
  left: 0;
  display: flex;
  width: 100%;
  color: hsl(0, 0%, 16%);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  word-wrap: normal;
}
.topicName {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}
.ratingVal {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 10px;
}
.btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 4px;
  z-index: 1;
}
.upBtn,
.downBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding-block: 4px;
  color: black;
  font-size: 10px;
}
.upBtn:focus,
.downBtn:focus {
  outline: none;
}
